<!-- your html code here -->
<h1>Contact</h1>
<h4>
    when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
</h4>
<div class="container">
<div class="card text-bg-light w-75 ps-3 ms-5" style="height: 20rem; width: rem;">
  <div class="card-body ms-5 ps-5 py-2">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-primary" type="button">Submit</button>
    </div>
  </div>
  
</div>
</div>


