<!-- your html code here -->
<!--<p>Hello, I'm the portfolio.html</p>-->
<div class="titulo"><h5>PORTFOLIO</h5></div>
<div class="card-group">
  <div class="card">
    <img src="https://picsum.photos/200" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">project name</h5>
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi sequi recusandae eligendi aliquam nulla ad harum odit. Quis tenetur porro amet maxime vel impedit! Quam saepe veritatis excepturi alias esse.</p>
      
    </div>
  </div>
  <div class="card">
    <img src="https://picsum.photos/201" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">project name</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consequatur voluptatibus eos repellat maxime et deserunt impedit assumenda perspiciatis molestias odio, sed quisquam ex mollitia iusto eligendi doloremque qui est?</p>
      
    </div>
  </div>
  <div class="card">
    <img src="https://picsum.photos/202" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">project name</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum consequuntur cumque vitae nesciunt? Quam porro animi ex, ipsam corporis ducimus consectetur, temporibus possimus amet reprehenderit iure velit excepturi, accusantium saepe?</p>
      
    </div>
  </div>
</div>