<!-- your html code here -->
<div class="container">
    <div class="row">
    <div class="col-4 flex-grow-3 end-0 pl-3 d-flex justify-content-end">
      <img src="https://picsum.photos/200" class="rounded-circle" alt="picsum picture">
    </div>
    <div class="col-6 start-0 flex-grow-6 my-5">
      <h2>The second Heading is pretty cool too</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem cumque magnam, incidunt placeat nihil consequatur officia esse ex consequuntur quod rerum hic nemo maxime minus vel facilis excepturi corrupti dolores.</p>
    </div>
    </div>
  </div>